/* Resets */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],/* 1 */
[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,/* 1 */
menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/* Custom CSS */

body {width: 100%;}

ul{margin: 0;}

li{list-style: none;}

h1{font-size: 3em;}

p{font-size: 1.5em;}

body{font-family: Arial, Helvetica, sans-serif;}

a{ text-decoration: none;}

  body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;}




/**** Navbar ****/

nav {
    top: 0;
    overflow: hidden;
	height:50px;
	width:100%;
	font-size:18;
	text-align: center;
	background-color: #f0f0f0;
    color:#000000;
    font-family: 'Raleway', sans-serif;
    position: fixed;

}

.navbar-nav .nav-link {
    color: #746eb5;
}

.nav-link:hover {
    color: #ffbd33;
}

a {
    text-decoration: none;
}

a:visited {
	color:#746eb5;
}
ul {
    color: #f0f0f0;
    margin: 0;
}
li {
	display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

li a:hover {
    color: #ffbd33;
}         
.active {
    background-color:#FFBD33;
    color: white;
}

.active a:hover {
    color: #746eb5;
}

.btn-outline-success {
    color: #746eb5;
    border-color: #ffbd33;
}

.btn-outline-success:hover {
    background-color: #ffbd33 ;
} 



/**** Slideshow ****/

.content{
    padding-top: 20px;
}


.mySlides{ 
    height: 740px;
    display: none;
    }

.picker{
    text-align: center;
    padding: 10px;
    padding-bottom: 60px;
}

.demo { 
    width: 190px;
    height: 190px;
    cursor:pointer;
    opacity: 0.7;
    }

.demo:hover{ opacity: 1;}

.col { 
    display: inline; 
}



/* Banner */
.banner{
    height: 150px;
    width: 100%;
    padding-top: 5px;
    color: white;
    display: center;
    text-align: center;
    background-color: #746EB5;
}

/*** social ***/

.global {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex1, .flex2 {
  padding: 5px;
  margin: 10px;
  text-align: center;
  opacity: 0.9;
}

.global--desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: .5s;
}

.global--desc{
    position: relative;
    left: 250px;
    transition: .8s;
}

.global--desc:hover{
    left: 50px;
}

.flex-item:hover{ opacity: 1;}


/*** footer ***/

.main-footer{
   display:flex;
   justify-content: space-around;
   background-color:#f0f0f0 ;
   padding:20px 0px;
   width:100%;
   margin:0;
   bottom: 0; 
}
.main-footer--first-section{
   display: flex;
   align-items: center;
   flex:2;
   justify-content: center;
   padding-left:100px;
}
.main-footer--first-section li{
   padding:12px 0px;
}
.main-footer--first-section a{
   font-size:20px;
   color:#7461b5 ;
}
.first-footer-nav{
   padding-right:30px;
   border-right:1px solid darkgray;
}
.first-footer-nav ul{
   padding-left:0;
}

.second-footer-nav{
   padding:20px 30px 20px 0px;
   border-right:1px solid darkgray;
}
.first-footer-nav{
   
}
.main-footer--second-section{
   display: flex;
   width:10%;
   justify-content: center;
   color:#7461b5 ;
}
.main-footer--second-section h3{
   margin-bottom:0;
   margin-top:12px;
   font-size:22px;
}
.main-footer--second-section p{
   margin:0px;
   font-size:17px;
}
.contact-us-details--infomation{
   margin-top:0px;
}
.main-footer--third-section{
   display: flex;
   flex:2;
   justify-content: center;
}

 
.social-medias{
   text-align: center;
   margin-top:40px;
}
.social{
   margin:0px 15px 0px 15px;
}
.facebook{
   border-radius: 24px;
   height:70px;
   width:70px;
}
.twitter{
   border-radius: 26px;
   height:70px;
   width:70px;
}
.instagram{
   border-radius: 26px;
   height:70px;
   width:70px;
}
.behance{
   border-radius: 26px;
   height:70px;
   width:70px;
}



.don-btn{
   border-radius: 20px;
   font-size:25px;
   padding:20px 30px;
   font-weight: bold;
   width:400px;
   border:none;
   background-color: #7461b5 ;
   color:#fff;
   box-shadow: none;
}
.donation-btn .don-btn:focus, .don-btn:active{
   box-shadow: none;
   outline:none;
}


*, *:after, *:before { 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box; 
            box-sizing: border-box;}
  .clearfix:before, .clearfix:after { content: " "; display: table; }
  .clearfix:after { clear: both; }

  @-webkit-keyframes moveUp {
      0% { }
      100% { -webkit-transform: translateY(0); opacity: 1; }
  }
  
  @keyframes moveUp {
      0% { }
      100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  }
  @media screen and (max-width: 900px) {
      .grid .item {width: 50%;}
    .entry {box-shadow: none;}
    .entry > .grid > .item {width: 50%;}
  }
  
  @media screen and (max-width: 400px) {
      .grid .item {width: 100%;}
    .entry {padding: 20px 0;}
    .entry > p {padding: 10px;}
    .entry > .grid > .item {width: 100%;}}