.global--desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color:white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: .5s;
}

.global--desc{
    position: relative;
    left: 250px;
    transition: .8s;
}

.global--desc:hover{
    transition-property: opacity, left;
    transition-duration: 2s, 4s;
}
