<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
  crossorigin="anonymous">

<head>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">CAVS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://hulking-island.glitch.me/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://hulking-island.glitch.me/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://hulking-island.glitch.me/course-outline">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <div class="main-banner">
    <img src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2FCAVS-11.gif?1504062818623" alt="Smiley face" width="100%" height="200px">
  </div>

  <div class="content">
    <img class="mySlides" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink1.jpg?1504062747161" style="width:100%">
    <img class="mySlides" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink2.jpg?1504062748284" style="width:100%">
    <img class="mySlides" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink3.jpg?1504062765251" style="width:100%">
    <img class="mySlides" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink4.jpg?1504062764640" style="width:100%">
    <img class="mySlides" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink5.jpg?1504062812184" style="width:100%">
  </div>

  <div class="picker">
    <div class="col 1">
      <img class="demo" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink1.jpg?1504062747161" onclick="currentDiv(1)">
    </div>
    <div class="col">
      <img class="demo" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink2.jpg?1504062748284" onclick="currentDiv(2)">
    </div>
    <div class="col">
      <img class="demo" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink3.jpg?1504062765251" onclick="currentDiv(3)">
    </div>
    <div class="col">
      <img class="demo" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink4.jpg?1504062764640" onclick="currentDiv(4)">
    </div>
    <div class="col">
      <img class="demo" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fink5.jpg?1504062812184" onclick="currentDiv(5)">
    </div>
  </div>

  <section class="banner">
    <div>
      <h1>News & Events</h1>
    </div>
  </section>

  <section class="global">
    <div class="row">
      <a href="events.html"><img class="flex1" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Ffair%20poster.jpg?1504062735172" title="Events" alt="Events" width="550px" height="550px"></a>  
        <h3 class="social--desc">Events</h3>
    </div>
       <div class="row">
      <a href="news.html"><img class="flex2" src="https://cdn.glitch.com/51a0f8d2-7975-4a03-b956-2a6359574208%2Fartist%20news.jpg?1504062817857" title="News" alt="News" width="550px" height="550px"></a>
        <h3 class="social--desc">News</h3>
          </div>
  </section>





  <footer>
    <div class="main-footer">
      <div class="main-footer--first-section">
        <div class="first-footer-nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="course-outline.html">Courses</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
        <div class="second-footer-nav">
          <ul>
            <li><a href="#">Artists Gallery</a></li>
            <li><a href="#">Artists Profile</a></li>
            <li><a href="#">News & Events</a></li>
            <li><a href="#">Job Opportunities</a></li>
          </ul>
        </div>
        <div class="third-footer-nav">
          <ul>
            <li><a href="#">Enrolment</a></li>
            <li><a href="#">Course Timetables</a></li>
            <li><a href="#">Faculty & Staff</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="main-footer--second-section">
        <div class="contact-us-details">
          <h3 class="contact-us-details--infomation">Info</h3>
          <p>Email: CAV@mit.edu</p>
          <p>Phone: CAV@mit.edu</p>
          <h3>Mailing address</h3>
          <p>77 Massachusetts Avenue</p>
          <p>E15-212</p>
          <p>Cambridge, MA 02139</p>
          <h3>Street address</h3>
          <p>20 Ames Street, E15-212</p>
          <p>Wiesner Building</p>
          <p>Cambridge, MA 02142</p>
        </div>
      </div>
      <div class="main-footer--third-section">
        <div class="connect-with-us">
          <div class="donation-btn">
            <button class="don-btn">Donate to CAVS</button>
          </div>
          <div class="social-medias">
            <img class="social facebook" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png">
            <img class="social twitter" src="https://www.deanza.edu/cis/images/download.jpg">
            <img class="social instagram" src="http://www.southamptonhistoricalmuseum.org/wp-content/uploads/2014/06/Instagram-Logo.jpg">
            <img class="social behance" src="http://icons.iconarchive.com/icons/danleech/simple/1024/behance-icon.png">
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
      }
      x[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " w3-opacity-off";
    }
  </script>
</body>

</html>