/* Banner Tili*/
.banner{
    height: 150px;
    width: 100%;
    padding-top: 5px;
    color: white;
    display: center;
    text-align: center;
  background-color: #746eb5;
}

/* Main banner victor */
.main-banner img{
    width:100%;
    margin-top: 50px;
    height: 200px;
}


